.todo-container {
 width: 100%;
 min-height: 50vh;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 15px;
}

.todo-list {
 width: 40%;
 min-height: 100%;
 display: flex;
 flex-direction: column;

 align-items: center;
}
